[2020-09-27 02:54] Othniel16 opened #5 "Set system theme not functioning"
**Describe the bug**
I have three simple buttons to toggle between the various theme modes. But it seems only setLight and setDark methods work. setSystem method instead of setting to the device theme sets the theme to light even when the device is in dark mode.

**To Reproduce**
Code to reproduce the behavior:

Container(
          child: Column(
            children: [
              // light the

[2020-09-27 03:02] #5 closed

[2020-09-27 05:12] BirjuVachhani commented on #5
@Othniel16 I see you closed this. It is resolved or should I look into it?

[2020-09-27 05:14] Othniel16 commented on #5
Yes please it is resolved. Thanks for the reply

[2020-10-10 14:02] sukhcha-in opened #6 "Get current theme?"
Is there any way to determine current theme and showing different icon for iconbutton?
`lightbulb` for light theme and `lightbulb_outline` for dark theme?
[code]

[2020-10-10 17:18] BirjuVachhani commented on #6
@sukhcha-in
You can get  current theme mode (light | dark) like this:

[code]

[2020-10-12 06:55] #6 closed

[2020-10-29 17:11] mrcse opened #7 "on start the app theme doesn't apply quickly"
[20201029211928.zip](https://github.com/BirjuVachhani/adaptive_theme/files/5460122/20201029211928.zip)

[2020-10-30 09:35] BirjuVachhani commented on #7
@mrcse  Please add piece of code here rather than attaching the whole source zip file.

[2020-10-30 10:26] BirjuVachhani commented on #7
@mrcse I couldn't play your attached video.

[2020-11-18 05:16] BirjuVachhani commented on #7
Closing due to inactivity. Feel free to reopen.

[2020-11-18 05:16] #7 closed

[2020-11-18 13:24] mrcse opened #8 "on start the app theme doesn't apply quickly"
there is the required files as requested

[lib.zip](https://github.com/BirjuVachhani/adaptive_theme/files/5560238/lib.zip)

[pubspec.zip](https://github.com/BirjuVachhani/adaptive_theme/files/5560243/pubspec.zip)

[2020-11-19 07:39] BirjuVachhani commented on #8
@mrcse Please check this out: https://github.com/BirjuVachhani/adaptive_theme#get-thememode-at-app-start

[2020-11-19 13:05] mrcse commented on #8
Ah now it is working thanks man........keep it up :)

[2020-11-19 13:05] #8 closed

[2021-01-20 08:47] killerm250m opened #9 "Font not working correctly"
Thank you for the library..

I noticed when I set the default font its not applied for the whole application

This is my code

AdaptiveTheme(
              light: ThemeData(
                primaryColor: MaterialWhite,
                accentColor: orangeColorDark,
                inputDecorationTheme: const InputDecorationTheme(
                  labelStyle: TextStyle(color: Colors.grey),

[2021-01-20 14:35] BirjuVachhani commented on #9
@killerm250m  This is not related to this library. This seems to be related to flutter framework. Try posting this over StackOverflow.

Thanks.

[2021-01-20 14:35] #9 closed

[2021-03-12 07:11] frederic33 opened #10 "Shared Preferences versions conflict"
I need to use the 2.0 version of Shared_Preferences for NullSafety reason and others fix. I have to use Adaptative_Theme because this is awesome and so clear ! But it seems I have a conflict with version requirements :

/Users/fred/Documents/Flutter/development/flutter/bin/flutter --no-color pub get
Running "flutter pub get" in weekpath...

Because adaptive_theme 1.1.0 depends on shared_preference

[2021-03-12 07:14] BirjuVachhani commented on #10
Hey there. I have published a pre-release for nullsafety. You can use it for now. I'll be updating this to stable null safety version.

[code]

[2021-03-12 07:14] #10 closed

[2021-03-12 10:48] BirjuVachhani commented on #10
@frederic33 I just released stable version for null safety.

https://pub.dev/packages/adaptive_theme

[2021-03-12 17:31] kephren226 opened #12 "getting current theme return null"
using AdaptiveTheme.getThemeMode() or AdaptiveTheme.of(context).mode.isLight and AdaptiveTheme.of(context).mode.isDark return null when theme in not persisted

[2021-03-12 17:39] BirjuVachhani commented on #12
Could you please share some code and version of the library you’re using??

[2021-03-12 17:42] kephren226 commented on #12
Just updated to latest version

lass MyApp extends StatelessWidget {
  final AdaptiveThemeMode savedThemeMode;
  const MyApp({Key key, this.savedThemeMode}) : super(key: key);
  @override
  Widget build(BuildContext context) {
    return AdaptiveTheme(
      light: ThemeData(
        brightness: Brightness.light,
        primarySwatch: Colors.blue,
        primaryColor: Colors.blue[600],
        a

[2021-03-12 17:43] kephren226 commented on #12
Just updated to last version

`lass MyApp extends StatelessWidget {
  final AdaptiveThemeMode savedThemeMode;
  const MyApp({Key key, this.savedThemeMode}) : super(key: key);
  @override
  Widget build(BuildContext context) {
    return AdaptiveTheme(
      light: ThemeData(
        brightness: Brightness.light,
        primarySwatch: Colors.blue,
        primaryColor: Colors.blue[600],
        ac

[2021-03-12 17:44] kephren226 commented on #12
just updated to last versuion

`lass MyApp extends StatelessWidget {
  final AdaptiveThemeMode savedThemeMode;
  const MyApp({Key key, this.savedThemeMode}) : super(key: key);
  @override
  Widget build(BuildContext context) {
    return AdaptiveTheme(
      light: ThemeData(
        brightness: Brightness.light,
        primarySwatch: Colors.blue,
        primaryColor: Colors.blue[600],
        a

[2021-03-12 17:45] kephren226 commented on #12
Just updated to last version

lass MyApp extends StatelessWidget {
  final AdaptiveThemeMode savedThemeMode;
  const MyApp({Key key, this.savedThemeMode}) : super(key: key);
  @override
  Widget build(BuildContext context) {
    return AdaptiveTheme(
      light: ThemeData(
        brightness: Brightness.light,
        primarySwatch: Colors.blue,
        primaryColor: Colors.blue[600],
        acc

[2021-03-12 17:49] BirjuVachhani commented on #12
This is just the configuration of AdaptiveTheme. Could you please also add code where you're facing problem?

[2021-03-12 17:51] kephren226 commented on #12
adaptive_theme: ^2.0.0

[2021-03-12 18:03] BirjuVachhani commented on #12
This seems to be fine. Where you're getting the error? Are you getting stacktrace?

[2021-03-12 18:06] kephren226 commented on #12
Everywhere i use print(AdaptiveTheme.of(context).mode.isLight) and  print(AdaptiveTheme.of(context).mode.isLight) i get false for the 2

and await AdaptiveTheme.getThemeMode() return null

[2021-03-12 18:07] kephren226 commented on #12
Here for instance

Widget build(BuildContext context) {
    print(AdaptiveTheme.of(context).mode.isLight);
......

[2021-03-12 18:19] kephren226 commented on #12
It works fine now

[2021-03-13 14:46] #12 closed

[2021-03-23 10:29] joe733 opened #13 "[Question] How to get 'Get ThemeMode At App Start', working?"
Following [Get ThemeMode at App Start](https://github.com/BirjuVachhani/adaptive_theme#get-thememode-at-app-start), my code looks like this:

[code]

But I get an error saying:

[code]

Please pardon my ignorance in Dart and/or Flutter and show me how to resolve this.

[2021-03-23 12:00] BirjuVachhani commented on #13
@joe733 This does not have to do anything with the library. You're missing declaration for `savedThemeMode` in your `MyApp` class.

This should fix it:

[code]

[2021-03-23 12:00] #13 closed

[2021-03-23 12:23] joe733 commented on #13
Thanks a lot... still learning :)

Had to change `widget_test.dart` to

[code]

[2021-03-23 13:06] BirjuVachhani commented on #13
@joe733 You're welcome. Happy to help. 😊

[2021-03-24 08:22] sameer882000 opened #14 "[Question] How to only toggle between two themes, dark and light?"

[2021-03-24 08:23] #14 closed

[2021-03-24 08:59] BirjuVachhani commented on #14
For now you can do this:

[code]

Maybe I'll add this option in the `toggleThemeMode()` method like this in future:

[code]

[2021-03-24 09:13] sameer882000 commented on #14
@BirjuVachhani Thanks. Got it.

[2021-03-30 14:56] friebetill opened #15 "Notify listener when changing theme mode"
**Describe the bug**
Widgets that depend on `AdaptiveTheme.of(context)` don't rebuild automatically after changing the theme. I guess it is because we are not using an [InheritedWidget](https://api.flutter.dev/flutter/widgets/InheritedWidget-class.html). The problem is especially annoying for a larger app, where one has to call `setState` manually everywhere.

<details><summary>Example</summary>
<

[2021-03-31 04:54] BirjuVachhani commented on #15
@friebetill Yeah, that is correct. It won't work because it is not `InheritedWidget`. However you could use it like this:

Instead of this:
[code]

do this:
[code]

This works perfectly for me and when I change the theme, it changes for the whole app. Let me know your thoughts on this.

[2021-04-01 05:46] BirjuVachhani commented on #15
@friebetill That makes sense!

I guess it wouldn't be a good idea to use `InheritedWidget` just to satisfy this at this point. It would require a change in the whole library. Instead I could give a `ValueNotifier<AdaptiveThemeMode` which use can use for your use-case here.

<details><summary>See the example:</summary>

[code]
</details>

[2021-04-02 11:32] friebetill commented on #15
Yes that would be sufficient for me! :)

I understand if `InheritedWidget` is too much work, but I guess in the long run it is the better version. (But I haven't looked at all the advantages and disadvantages.)

[2021-04-02 13:49] BirjuVachhani commented on #15
@friebetill I can add this fix in this weekend. Will update you once published.

[2021-04-04 10:30] bernhardfrenking opened #16 "get theme and get darkTheme returns the same theme dependend on mode"
Retrieving the ThemeData with get theme and get darkTheme will return not the expected themes of light theme and dark theme, instead both return the "active" theme.

**To Reproduce**
Compare `AdaptiveTheme.of(context).theme ` with `AdaptiveTheme.of(context).darkTheme;`.

**Expected behavior**
theme returns the light theme and darkTheme returns the dark theme.

**Responsible Code**
from adaptive_th

[2021-04-05 04:40] #15 closed

[2021-04-05 06:09] #16 closed

[2021-04-05 06:43] BirjuVachhani commented on #16
Available in [2.1.0](https://github.com/BirjuVachhani/adaptive_theme/releases/tag/2.1.0)

[2021-04-05 06:43] BirjuVachhani commented on #15
Available in [2.1.0](https://github.com/BirjuVachhani/adaptive_theme/releases/tag/2.1.0)

[2021-04-09 11:15] teipeps opened #18 "Dark Mode and Macbook with dark theme"
**Describe the bug**
When you set dark theme on macbook and run the app on chrome (WEB), the library return always dark theme

**To Reproduce**
Run the app on a macbook with dark theme set.
Try ti switch to light theme. It doesn't work.

If macbook theme is on light or automatic non problem occur.

Library version 2.1.0
Flutter version 2.0.4
MacOS Big Sure 11.2.3

BR

[2021-04-09 12:13] BirjuVachhani commented on #18
@teipeps I was able to reproduce this. It seems that due to some recent changes this is happening. Old versions seems to be working fine. I'll fix this as soon as possible.

[2021-04-09 12:43] teipeps commented on #18
@BirjuVachhani TNKS !!!!!

[2021-04-09 15:09] BirjuVachhani commented on #18
@teipeps Fixed in `v2.1.1`

[2021-04-09 15:09] #18 closed

[2021-04-17 21:17] friebetill opened #19 "System mode does not work on macOS"
**Describe the bug**
When I launch my app on macOS and set the mode to system, the theme is not matched to the macOS system theme. The system theme works fine on Android and iOS.

[2021-04-18 05:59] BirjuVachhani commented on #19
@friebetill This has been recently fixed. Which version are you using?

[2021-04-18 08:15] friebetill commented on #19
I am using the latest version `2.2.0`. Restarting the app with the macOS dark theme active, doesn't solve the problem either.

[2021-04-19 05:14] BirjuVachhani commented on #19
@friebetill Interesting!

1. Please share example code to reproduce this.
2. Please share steps to reproduce

[2021-04-20 12:29] Klkikok opened #20 "System status bar not changing color on iOS"
When light theme mode or dark theme mode is chosen, the system status bar on an iOS device keeps the system color. For example, when light theme mode is active and i change the system theme, the color of the status bar text changes with it, instead of keeping the black text color. The same thing happens on dark theme mode. On system theme mode it works perfectly. Im using adaptive_theme: ^2.1.1. F

[2021-04-20 12:30] Klkikok commented on #20
flutter -v doctor
[✓] Flutter (Channel unknown, 2.0.3, on macOS 11.1 20C69 darwin-x64, locale en-RS)
    • Flutter version 2.0.3 at /Applications/flutter
    • Framework revision 4d7946a68d (5 weeks ago), 2021-03-18 17:24:33 -0700
    • Engine revision 3459eb2436
    • Dart version 2.12.2

[!] Android toolchain - develop for Android devices (Android SDK version 29.0.2)
    • Android SDK at /Users/

[2021-04-20 12:53] BirjuVachhani commented on #20
@Klkikok This package doesn't manage or modify System UI settings. It is pure flutter code. No native code. However this might help you.

Set this in `Info.plist` file:
[code]

[2021-04-23 07:54] friebetill commented on #19
I have found the error in my code 🙈
Thank you for your attention!

[2021-04-23 07:54] #19 closed

[2021-04-28 04:15] #20 closed

[2021-04-28 12:01] Klkikok commented on #20
This only makes the status bar dissapear, not make it change colors.

[2021-04-28 12:23] BirjuVachhani commented on #20
@Klkikok This should allow you to control the status bar from the flutter code. It should not make it disappear. Also, maybe if you set brightness for your theme right then you may not have to change it manually.

[2021-04-28 13:28] GrbavaCigla commented on #20
We are using this in our themes:
[code]

[2021-04-30 12:32] GrbavaCigla commented on #20
I have set the brightness for both dark and light themes and added 2 lines to `Info.plist`, but it still doesn't work.

[2021-04-30 13:08] BirjuVachhani commented on #20
@GrbavaCigla I checked it with the example project and it seems to be working fine. Could you please check the example project?

[2021-04-30 13:25] GrbavaCigla commented on #20
I am going to try the example

[2021-05-01 06:33] BirjuVachhani commented on #20
@GrbavaCigla This library has nothing to do with any widget specifically. It allows you to control the `Theme`. Maybe setting a brightness for the `AppBar` or `SliverAppBar` may work. You should not have to set `toolbarHeight` to 0 in the `AppBar`.

[2021-06-21 11:47] kephren226 opened #21 "Add custom mode"
hello
Is there a way to add a third mode ?

For instance i want a dark blue background as a third option
I can i do that if possible

If not it will be very cool to have such an option

[2021-06-22 04:50] BirjuVachhani commented on #21
Flutter only has 3 modes for theming so does this package. Which means you need to utilize existing mode for any customization you want.

Checkout [Changing Themes](https://github.com/BirjuVachhani/adaptive_theme#changing-themes) section. You can set your `blue background` theme by replacing dark theme. (even if I give you option to provide custom themes. This is what I have to do internally!)

[2021-06-22 09:01] kephren226 commented on #21
I saw that I the doc
What time I'm really asking is apart from the the 2 themes dark and light can I add on other one
I don't want to replace the black background with a blue one
I want a black one and a blue one like in the twitter app

[2021-06-22 09:59] BirjuVachhani commented on #21
Yes, it can be done as I said. Only a single theme is active at a time right? Twitter replaces the dark theme based on what mode is selected. and only 1 mode is active at a time. so replacing existing dark won't affect anything. I think you can manage that.

[2021-06-22 10:03] kephren226 commented on #21
Ok
Think we still don't understand each other
Thanks for taking time to reply 👍🏿

[2021-06-22 10:03] #21 closed

[2021-06-28 14:55] agarnet74 commented on #13
Hi,
I have the same issue but I don't understand neither your answer or his change :

import 'package:flutter/material.dart';
import 'package:adaptive_theme/adaptive_theme.dart';
import 'pages/home_page.dart';

void main() async {
  WidgetsFlutterBinding.ensureInitialized();
  final savedThemeMode = await AdaptiveTheme.getThemeMode();
  runApp(MyApp(savedThemeMode : savedThemeMode));
}

class MyAp

[2021-06-28 14:56] agarnet74 commented on #13
`import 'package:flutter/material.dart';
import 'package:adaptive_theme/adaptive_theme.dart';
import 'pages/home_page.dart';

void main() async {
  WidgetsFlutterBinding.ensureInitialized();
  final _savedThemeMode = await AdaptiveTheme.getThemeMode();
  runApp(MyApp(savedThemeMode : _savedThemeMode));
}

class MyApp extends StatelessWidget {
  @override
  Widget build(BuildContext context) {

[2021-06-29 04:34] BirjuVachhani commented on #13
@agarnet74
Compare your code with the [example app](https://github.com/BirjuVachhani/adaptive_theme/blob/main/example/lib/main.dart) and you will see what you're missing!

Your `MyApp` should have this:
[code]

[2021-06-29 09:19] agarnet74 commented on #13
Thanks, it works fine !

[2021-07-01 10:17] gadgetreviews commented on #12
I am facing same problem: ~~~await AdaptiveTheme.getThemeMode()~~~ always returns null. What am I missing?

[code]

[2021-07-01 10:21] kephren226 commented on #12
Can you passe the mode to MyApp and try printing there to see what happens

[2021-07-01 10:37] gadgetreviews commented on #12
same. null again.
[code]

[2021-07-01 10:59] kephren226 commented on #12
I think you should do something like this   initial: savedThemeMode ?? AdaptiveThemeMode.light  before printing
It seems like you did not persist any mode and use AdaptiveTheme.of(context).setLight() or this AdaptiveTheme.of(context).setDark()  to persist the selected theme

[2021-07-01 11:03] kephren226 commented on #12
My build method looks lik this

 Widget build(BuildContext context) {
    return AdaptiveTheme(
      light: ThemeData(
        brightness: Brightness.light,
        primarySwatch: Colors.blue,
        primaryColor: Colors.blue[600],
        accentColor: Colors.blue,
        fontFamily: 'OpenSans',
      ),
      dark: ThemeData(
        brightness: Brightness.dark,
        primarySwatch: Colors.b

[2021-07-01 11:14] gadgetreviews commented on #12
In android 10 emulator I choose Dark theme. then I run the app, and I get null. If I run the code above I will always get light theme even I choose dark theme.
In fact I just need to get current theme. I don't need the rest of this plugin. Is there any other way or other plugin to get current theme?

[2021-07-01 11:28] kephren226 commented on #12
Youl will always get the light theme if you don't persist the selected one
And the plugin need shared_preferences to persist the theme

[2021-07-01 11:29] gadgetreviews commented on #12
But I need the system's theme setting, not plugin's.

[2021-07-01 11:30] kephren226 commented on #12
I don't understand what you're trying to do

[2021-07-01 11:39] gadgetreviews commented on #12
I have my own theme system. I just don't have a method to get current theme of android system. When my app opens it should look at android system theme. if it is dark, I will choose dark theme of my app as default. if it is light, I will choose light theme of my app as default. So I need to know current theme of android system. But I can't find any way to get that information.

[2021-07-01 11:43] kephren226 commented on #12
You cannot get the current theme of the phone if you did not persist anything
Here is how you persist the system the theme AdaptiveTheme.of(context).setSystem()

that tell the app to get the system theme when starting
your code did not persist anything

[2021-07-01 11:55] gadgetreviews commented on #12
When I call
[code]
I get following error:
[code]

[2021-07-02 04:26] BirjuVachhani commented on #12
@gadgetreviews What you want is not what this package does. YOU DON'T NEED THIS PACKAGE!

This is what you want: https://stackoverflow.com/a/56307575/9199362

[2021-07-02 10:21] gadgetreviews commented on #12
Thanks. It worked and it is what I was looking for.

[2021-07-27 21:07] detzioni opened #22 "Runtime error"
Trying to run the example application on an Android phone, I am getting the following error:
-----
"package:flutter/src/ material/theme_data.dart': Failed assertion: line 346 pos 12: colorScheme?.brightness == null || brightness I| colorScheme!.brightness = brightness': is not true. See also: https://flutter.dev/docs /testing/errorS == null
-----

**To Reproduce**
Just download the package from gi

[2021-07-28 06:11] BirjuVachhani commented on #22
@detzioni I tested it on web and Oneplus Android 11 and everything seems to be working fine. I am on Flutter stable channel. Could you please post stacktrace and output of `flutter doctor -v`?

[2021-07-28 07:50] detzioni commented on #22
Thank you for your quick response. As requested, here is the output of [flutter doctor -v]
-----
[✓] Flutter (Channel master, 2.4.0-5.0.pre.122, on macOS 11.5 20G71 darwin-x64,
    locale en-US)
    • Flutter version 2.4.0-5.0.pre.122 at /Users/up/Development/Flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision 5acf7e98f1 (7 days ago), 2021-07-20 19:58:

[2021-07-28 08:33] detzioni commented on #22
Changing the channel from master to stable, running the [flutter clean] and [flutter pub get], the [flutter doctor -v] output is:
-----
[✓] Flutter (Channel stable, 2.2.3, on macOS 11.5 20G71 darwin-x64, locale en-US)
    • Flutter version 2.2.3 at /Users/up/Development/Flutter
    • Framework revision f4abaa0735 (4 weeks ago), 2021-07-01 12:46:11 -0700
    • Engine revision 241c87ad80
    • Dart

[2021-07-28 09:38] BirjuVachhani commented on #22
@detzioni This is weird. I thought it could have happened because of the Flutter master branch. Maybe something changed! But that doesn't seem to be the case here.

I'll look into this once I get some time but I do not own a Samsung phone so I need to verify if this is a device specific issue or not. Could you please check following and update me here?

1. Try running on an emulator if you could a

[2021-07-28 14:45] detzioni commented on #22
Yes, I totally agree with you. This is weird. I got the same problem in the application that I am trying to migrate to null-safety, so I decided to just run your example to see what happen.

As you requested I run it on multiple devices and simulators and all of them fail with the same error.

See the outputs below:

*********************************************************************************

[2021-07-28 15:03] detzioni commented on #22
I tried one more thing, which does not make any sense but for some reason solve the problem.
I deleted the entire git directory and clone it again... For some reason, everything is working without a problem on the master channel and on the stable channel.

I don't understand why, but not going to argue with flutter.

[2021-07-28 15:03] #22 closed

[2021-07-29 04:29] BirjuVachhani commented on #22
@detzioni That's totally weird. I was confused too because it was working for me but not you! Anyways, seems that it is working for you now. Let me know if you anything!

Thanks.

[2021-08-01 06:27] edwardaux opened #23 "Dynamically switching based on macOS not working"
For some reason, if I switch the macOS theme from light to dark (or vice versa) in System Settings, my macOS flutter app doesn't dynamically switch.

If I'm running the app from VS Code and manually reload (or do a full restart), then it will use whatever the system is at that time. However, if I switch the operating system setting after starting the app, it doesn't dynamically change.

Is the exp

[2021-08-02 05:06] BirjuVachhani commented on #23
@edwardaux This doesn't really depend on this package. If you have passed `AdaptiveThemeMode.system` then it should work! I don't have a macOS system but I'll check the same with Windows.

[2021-08-02 05:58] BirjuVachhani commented on #23
@edwardaux So I checked with Windows and it seems that something's wrong with Flutter SDK itself.

Try this simple example and it doesn't involve using the library and it should based on which theme has been set system wide but it doesn't work on windows. Maybe you could check the same on Mac?

[code]

[2021-08-02 06:14] BirjuVachhani commented on #23
@edwardaux Check this thread: https://github.com/flutter/flutter/issues/86975#issuecomment-890751189

[2021-08-02 06:53] edwardaux commented on #23
Ah, yes indeed, that's the problem. Running from the command line, the simple example above works just fine (even without `adaptive_theme`). Looks like it is only a problem when running from VS Code.

I'll close this ticket out then. Thanks for tracking down the problem.

[2021-08-02 06:53] #23 closed

[2021-08-02 07:08] BirjuVachhani commented on #23
Happy to help! ☺️ 👍🏻

[2021-08-26 15:09] IvoBiaus opened #25 "[AdaptiveTheme] builder parameters"
**Describe the bug**
The builder functions gives 2 parameters, both are Themes. According to the documentation and the examples like:
```builder: (theme, darkTheme) => MaterialApp(...``` the first one is always Light Theme and the second one is always Dark Theme. But its currently not working that way, both parameters are sending the same twice. When the app is on Light mode both params are Light

[2021-09-17 13:36] bhavika2703 opened #26 "Dark mode If widget is manual background color then widget color not changing according modes"
I have given the manual background color to one widget , when switching to dark mode theme it is not changes, it will only changes where I have not given the background color manually.

[2021-09-20 03:20] BirjuVachhani commented on #26
@bhavika2703 Can you please add code snippet which is not working?

[2021-10-02 09:26] BirjuVachhani commented on #25
@IvoBiaus Both params will be different if theme mode is `system`.

[2021-10-04 19:24] #25 closed

[2021-10-23 01:39] zakblacki opened #28 "How to change default light white mode"
I don't want to use light mode how do I use my own custom theme color  (orange) with dark mode ?

For example this my code

        `AdaptiveTheme(
          light: ThemeData(
            brightness: Brightness.light,
            primarySwatch: Colors.blue,
          ),
          dark: ThemeData(
            brightness: Brightness.dark,
            primarySwatch: Colors.orange,
          ),

[2021-10-23 01:41] #28 closed

[2021-11-05 09:57] kephren226 opened #29 "syatem navigation bar color"
Hello
is there a way to set system navigation bar color depending on theme ?

[2021-11-07 04:50] BirjuVachhani commented on #29
You can listen to theme mode changes and set your status bar accordingly. I believe there's a package to manage that.

Check this out in [README.md](https://github.com/BirjuVachhani/adaptive_theme#listen-to-the-theme-mode-changes)

[code]

[2021-11-07 04:51] BirjuVachhani commented on #26
Closing this because of inactivity. Feel free to reopen if further help is needed.

[2021-11-07 04:51] #26 closed

[2021-11-07 12:35] kephren226 commented on #29
Thanks
I’ll close the issue for now
I’ll try the solution later to see what happen

[2021-11-07 12:36] #29 closed

[2021-12-28 21:39] kyleorin opened #30 "unable to change to light mode"
happening on iOS haven't tested on other platforms; trying to change the `initial` value to `light` or `system` doesn't work even when `MediaQuery` reads the theme correctly.

not sure what im doing wrong here

[code]

[2021-12-29 04:40] BirjuVachhani commented on #30
Can you specify iOS version?

[2022-01-09 07:45] BirjuVachhani commented on #30
You don't change the `initial` value to change the theme. Do this instead.

`AdaptiveTheme.of(context).setDark()`

[2022-01-10 20:05] timmyrosen opened #31 "Theme resetting at app launch"
UPDATE:

Just tried it on my real android device and there it works perfectly.
Not sure why it doesn't work in the simulator.

**Describe the bug**
I have implemented the solution almost identical to the docs, but on a hot restart, the builder method runs twice, where on the first run has the correct theme which is set in the initial prop, but on the second run it's the light theme.
On a hot resta

[2022-01-10 20:25] timmyrosen commented on #31
UPDATE:

Just tried it on my real android device and there it works perfectly.
Not sure why it doesn't work in the simulator

[2022-01-11 05:51] BirjuVachhani commented on #31
If you have changed the theme to light at any point then it remembers the choice and persists that across the app lifecycle. You need to retrieve that persisted choice in `runApp` and pass it as `initial` value to avoid flashing like that. Because if you don't then it will render UI using that theme meanwhile it is retrieving last changed mode from storage and then applies that mode.

Checkout thi

[2022-01-11 08:24] timmyrosen commented on #31
@BirjuVachhani Okay, I think I understand.

So the first time I run the app with adaptive_theme, the theme set in `initial` is saved in storage. After that it doesn't matter what I put in `initial`, because it overrides from storage?

I thought the `await AdaptiveTheme.getThemeMode();` code did all of that, but now I see what it does.

Thanks for clarifying, and thanks for a great package!

[2022-01-11 08:24] #31 closed

[2022-01-11 08:33] BirjuVachhani commented on #31
@timmyrosen Yeah, that's why it is called `initial` so we only use it once.

`AdaptiveTheme.getThemeMode();` only retrieves saved state from storage. It is not used automatically as it would require some static state which is not a good idea generally.

Thank you. I'm glad I could help. 🙌🏻

[2022-02-11 14:21] kyleorin commented on #30
hi @BirjuVachhani sorry for the long wait, iOS is the latest version (currently 15)
im looking to set the theme along with the device's theme is there any way to do that without the initial statement?

[2022-02-11 14:25] BirjuVachhani commented on #30
Use this:

[code]

[2022-02-11 19:40] reedrosenbluth commented on #30
Where would you typically put this code?

[2022-02-12 02:35] kyleorin commented on #30
changing the `initial` to `initial: AdaptiveThemeMode.system` worked after updating Xcode with the latest simulator version.

@reedrosenbluth I'd put it in a theme settings switch or chooser and go from there.

[2022-02-12 02:35] #30 closed

[2022-02-15 09:29] erwangse opened #32 "App theme doesn't update if app is started while the system was in dark mode"
**Describe the bug**
App theme doesn't update if the app is started while the system was in dark mode.
I have only tested this on an Android 11 phone, the Oneplus Nord.

**The code**
[code]

**Environment**
 - OS: Android 11
 - adaptive_theme: 2.3.0

**Additional info**
- I've noticed that, if I change the system from light/dark mode when the theme isn't updating, I don't even get a log message in

[2022-03-19 15:29] Arfmann21 opened #33 "addListener() - Null check operator used on a null value"
As title, using
[code]

gives the error "Null check operator used on a null value".

I've tried putting in inside initState and AdaptiveTheme builder, none of it worked.

In documentation, there aren't any info on where to put this method.

[2022-03-19 15:36] Arfmann21 commented on #32
Same here, anyone got a fix?

[2022-03-20 13:28] BirjuVachhani commented on #33
@Arfmann21 Can you please share the stacktrace and the code where you put this listener?

[2022-04-03 19:28] BirjuVachhani commented on #32
I have release a fix for system theme change not being detected. Please try `v2.3.1` and if this issue is fixed.

[2022-04-03 19:30] BirjuVachhani commented on #33
@Arfmann21 The reason it is not mentioned in the docs where to put it, is that it depends on the usecase. What's your usecase?

FYI: You should not put it anywhere before `MaterialApp` widget. Certainly not in the AdaptiveTheme builder.

[2022-04-04 11:38] gnassro commented on #32
same issue, app theme doesn't update if app is started while the system was in dark mode. only work when the app is started while system not in dark mode

[2022-04-04 12:45] BirjuVachhani commented on #32
That's strange. I also do have **Oneplus Nord CE** with **Android 11** and when I start my app while system is in dart mode, it works fine for me.

Checkout [this part of the docs](https://github.com/BirjuVachhani/adaptive_theme#get-thememode-at-app-start) where the mode is retrieved from storage before loading the app. Maybe this can fix your issue but I am not sure.

To help me reproduce this, c

[2022-04-05 18:33] gnassro commented on #32
yes you are right, i think there is something wrong in my project, because when i create new project and using the same  `ThemeData` that i used in my project, it worked fine

[2022-04-06 05:38] BirjuVachhani commented on #32
@gnassro I thought so. Please check your configuration and make sure you're not changing theme explicitly from somewhere.

[2022-04-06 05:39] BirjuVachhani commented on #32
@erwangse Does the latest release work for you?

[2022-04-06 08:22] gnassro commented on #32
I discovered that the problem because of using this package https://pub.dev/packages/preload_page_view. when i replace it with the default Widget, it work fine

[2022-04-06 13:29] BirjuVachhani commented on #32
@gnassro Ah! I think that package caches widgets so those widgets are not updated when the theme is changed. Although this is not a solution, can you try setting the `preloadPagesCount` to `0` (if allowed) just to check if that works as widgets shouldn't be cached in that case.

[2022-04-07 11:11] BirjuVachhani commented on #32
Closing this issue as it seems to be fixed. Feel free to reopen if it does work for some reason.

[2022-04-07 11:11] #32 closed

[2022-04-13 13:44] erwangse commented on #32
Hi there, just wanted to make a quick follow-up and add a bit of context to this !
I'm the (currently) sole developer of a flutter app in my company, sorry I didn't respond in time.
As for your first concern, I do cache theme changes in Hive & restore them on startup.
And as for your second, the new release seems to work just fine ! Thanks ! :+1:

[2022-04-28 04:58] #33 closed

[2022-05-12 11:48] veselv2010 opened #35 "Flutter 3.0 build error"
**Describe the bug**
Can't build the project with Flutter 3.0

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade to Flutter 3.0
2. Build the application

**Expected behavior**
Working app

**Screenshots**
![image](https://user-images.githubusercontent.com/32619716/168068090-3911b00c-ae02-4df6-a702-e90ba0f022d4.png)

**Smartphone (please complete the following information):**
 - Device:

[2022-05-17 10:10] ThraaxSession commented on #35
@BirjuVachhani I think you forgot to update pub.dev, could it be?

[2022-05-17 11:18] BirjuVachhani commented on #35
This has been fixed and released in [v3.0.0](https://pub.dev/packages/adaptive_theme/versions/3.0.0)

[2022-05-17 11:18] #35 closed

[2022-06-01 12:26] mufarrah opened #36 "got this bug when i upgraded to flutter 3.0.1"
currently im using flutter web 3.0.1 . when i upgraded to this flutter version , i got this error on my consol 👍

/C:/src/flutter/.pub-cache/hosted/pub.dartlang.org/adaptive_theme-2.3.1/lib/src/adaptive_theme.dart:218:20: Warning: Operand of null-aware operation '?.' has type 'WidgetsBinding' which excludes null.
- 'WidgetsBinding' is from 'package:flutter/src/widgets/binding.dart' ('/C:/src/flutt

[2022-06-01 15:21] BirjuVachhani commented on #36
You need to upgrade `adaptive_theme` package to `3.0.0` too.

[code]

[2022-06-01 16:17] mufarrah commented on #36
Thanks , it worked

[2022-06-10 06:33] mstfkhazaal opened #37 "Support Fluent Ui"
Please Support Fluent UI for windows desktop

[2022-06-11 16:48] BirjuVachhani commented on #37
@mstfkhazaal Do you mean support Fluent UI theme? I don't get what exact problem you're facing. Please provide more information on issues you're facing.

AFAIK, Fluent UI uses material `ThemeData`? then it is already supported.

![image](https://user-images.githubusercontent.com/20423471/173197078-b1da5052-e987-4a87-b180-b90e1c7aafc3.png)

[2022-06-15 14:30] BirjuVachhani commented on #37
@mstfkhazaal If that's the case then I'll take a look!

[2022-06-17 09:34] ThraaxSession opened #38 "Adaptive_Theme on windows has problem with shared_preferences"
**Describe the bug**
I try to use adaptive_theme first time with **windows** and ran into following issue:

**To Reproduce**
Steps to reproduce the behavior:
1. add adaptive_theme to project in version ^3.0.0
2. run the app with windows as target.

**Expected behavior**
The app starts up without error.

**Screenshots**
[code]

That's following line in my code
![image](https://user-images.githubuse

[2022-06-19 03:10] nathanblanchard12 opened #39 "Theme doesn't change on safari."
**Describe the bug**
I am unable to change theme from light to dark and vice versa. On Safari.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to website and select slider to change theme. It doesn't  work on Safari

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop

[2022-06-20 03:23] BirjuVachhani commented on #39
Interesting!

@nathanblanchard12 Can you provide more information on this while I check this?

[2022-06-20 03:57] BirjuVachhani commented on #39
@nathanblanchard12 Can you check this with this demo? This demo is working for me!
https://adaptivetheme.codemagic.app/#/

[2022-06-20 10:50] BirjuVachhani commented on #38
@ThraaxSession That's weird. I do not have a windows machine to try this out right now! Try running example app on windows.

[2022-06-20 13:09] BirjuVachhani commented on #37
@mstfkhazaal #40 lays ground work for supporting Fluent UI. It will be a separate package since `fluent_ui` is a third party package so it should be only available on demand.

[2022-06-21 15:19] ThraaxSession commented on #38
So, the plain example does work on windows. I still assume adaptive_theme does not work well with another dependency.
![image](https://user-images.githubusercontent.com/3085830/174836586-7a0be1ab-59d7-405d-8890-104219e83b4e.png)

[2022-06-21 15:22] BirjuVachhani commented on #38
Hmm...I'll check with `shared_prefences_settings` dependency.

[2022-06-21 18:29] maremaFnx opened #41 "Constructor like the example, but it doesn't work."
I'm migrating a project from Flutter 2.5.3. to Flutter 3.0.2, but, when i update i found an error with the constructor of library.
![image](https://user-images.githubusercontent.com/64203756/174872363-817e6e9f-ea15-4f46-aac7-8530e3524ceb.png)

[2022-06-22 04:53] BirjuVachhani commented on #41
@maremaFnx Idk if it is relevant but did you also upgrade `adaptive_theme` to the latest version?

[2022-06-23 13:08] BirjuVachhani commented on #38
@ThraaxSession I tried to use `shared_prefences_settings` with `adaptive_theme`'s example app but I am running into this! How are you able to use it with `adaptive_theme: ^3.0.0`?

[code]

[2022-06-23 17:01] ThraaxSession commented on #38
Ok that is weird. I assume I might still have something cached on windows. I'll figure it out at weekend and let you know. 🙄

[2022-07-07 11:12] yagizdo opened #42 "toggle theme on icon button click bug"
**Describe the bug**
Thank you for preparing such a package first of all. When I assign the toggletheme code to the icon button, it does not detect some clicks. It works when I click it again.

When I first open the application, the theme does not change at the first click. It changes when I click it for the second time. Nothing happens on the first click.

**Smartphone**
 - Device: iPhone 11 Simu

[2022-07-08 05:34] BirjuVachhani commented on #42
@yagizdo This is not a bug. Its an expected behavior. `AdaptiveTheme` supports 3 theme modes: `Light`, `dart` and `System`. Calling `AdaptiveTheme. toggleThemeMode()` goes through all 3.

So, for example, your OS is running in light mode and you are also on light mode in the app and then if you toggle theme mode, it may go from `light` -> `system` mode where system mode also is light so you see no

[2022-07-11 21:09] yagizdo commented on #42
Oh okay I get it. Sorry my bad @BirjuVachhani

[2022-07-11 21:09] #42 closed

[2022-07-11 21:11] BirjuVachhani commented on #42
@yagizdo Np. Glad I could help😊

[2022-07-12 14:04] hosseinkhojany opened #43 "Custom font not working"
When i set custom font for MaterialApp not working, in this situation AdaptiveTheme is parent of MaterialApp
When i remove AdaptiveTheme custom font work as well

[2022-07-13 05:03] BirjuVachhani commented on #43
@hosseinkhojany Didn't understand your issue. Can you please provide more information and some code snippets too?

[2022-07-13 17:09] hosseinkhojany commented on #43
I Imported your code to my project and edit it and fix it

[2022-07-14 05:06] BirjuVachhani commented on #43
@hosseinkhojany Can't help you without the sample reproducible code & configuration.

[2022-07-29 20:19] WilliamD47 opened #44 "Not working when copying demo StatelessWidget code"
Hi, I changed the code slightly so that it ignores bold text in iOS accessibility and now it doesn't work even if i take away the modifications. here is my code:

[code]
![Screenshot 2022-07-29 at 21 18 47](https://user-images.githubusercontent.com/69767121/181837241-b705e915-6062-493b-b5e4-c276d0261dfb.png)

Here are simulator screenshots. Running in debug mode using VSCode to start

The accent c

[2022-08-20 14:20] BirjuVachhani commented on #41
Closing this because of inactivity. Feel free to reopen if you're still facing this issue.

[2022-08-20 14:20] #41 closed

[2022-08-20 14:21] BirjuVachhani commented on #39
Closing this issue because of inactivity. Feel free to re-open if you're still facing the issue.

[2022-08-20 14:21] #39 closed

[2022-08-20 14:22] BirjuVachhani commented on #38
Closing this issue because of inactivity. Feel free to re-open if you're still facing the issue.

[2022-08-20 14:22] #38 closed

[2022-08-20 14:22] BirjuVachhani commented on #43
Closing this issue because of inactivity. Feel free to re-open if you're still facing the issue.

[2022-08-20 14:22] #43 closed

[2022-08-20 14:36] BirjuVachhani commented on #44
@WilliamD47 I checked the code you have provided. It's not a problem with the package. You're setting your theme wrong, that's why it's not meeting your expectations. Replace `primaryColor` with `primarySwatch` and it should work the way you're expecting it to work.

[2022-08-20 14:36] #44 closed

[2022-09-27 15:45] iamhx opened #45 "Change Android Navigation Bar Color on System Dark Mode toggle"
When using `AdaptiveTheme.of(context).modeChangeNotifier.addListener`, I can change my android's navigation bar color like this:

[code]

However, the navigation bar color does not change when I toggle dark mode from my Notification Centre. I tried finding a way to listen for platform brightness [here](https://stackoverflow.com/a/61951046) by using `WidgetsBinding.instance.handlePlatformBrightness

[2022-09-27 16:13] iamhx commented on #45
It turns out that I used `WidgetsBinding.instance.handlePlatformBrightnessChanged();` wrongly, as I had to do it inside the `WidgetsBinding.instance.window.onPlatformBrightnessChanged` instead...

[code]

Now when the dark mode is toggled through the notification centre, the navigation bar color changes accordingly.

[2022-09-27 16:13] #45 closed

[2022-09-28 02:58] BirjuVachhani commented on #45
@iamhx Glad you were able to make it work on your own. However, you don't need to register a listener. You can just set those properties if you can in your theme and let the package do its thing.

[2022-09-28 18:06] iamhx commented on #45
@BirjuVachhani Thanks for the reply.

In my `theme_light.dart`:

[code]

Setting those properties in my theme doesn't seem to change anything and I am not sure why. That is why I had to use `SystemChrome.setSystemUIOverlayStyle`. Tried searching online on why that doesn't work, but haven't really found the answer to this issue. But as long as it works, I guess!

Thank you for this great package.

[2022-09-29 04:22] BirjuVachhani commented on #45
I am not sure but I think you have to set brightness as well.

[2022-10-24 09:07] BrianMwas commented on #45
Brightness is deprecated

[2022-10-24 09:31] BrianMwas commented on #45
Hey instead of this you can use the following
`final currentBrightness = MediaQuery.platformBrightnessOf(context)`
Its way more performant in the long run